@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Open+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.App {
  height: 100%;
  width: 100%;
}

.form-wrapper {
  height: 100vh;
  width: 100%;
  background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,0.07636558041185226) 0%, rgba(203,7,159,0) 68%, rgba(255,0,0,0.3984944319524685) 100%);
}

.form-title {
  color: black;
  text-align: center;
  margin: 2rem;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 20rem 0 20rem;
  flex-direction: column;
}

.form-login__username {
  width: 30%;
  padding-top: 2rem;
}

.form-login__pass {
  width: 30%;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}