@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&family=Open+Sans:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

.form-title {
  color: black;
  text-align: center;
  margin: 2rem;
}

.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 20rem 0 20rem;
  flex-direction: column;
  border-bottom: 2px solid lavender;
}

.form-login__username {
  width: 30%;
  padding-top: 2rem;
}

.form-login__pass {
  width: 30%;
}

.image {
  width: 100%;
  display: flex;
  justify-content: center;
}